@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

*{
    font-family: Roboto;
    text-align: center;
}
body{
    background-color: rgb(235, 212, 175);
    display: flex;
    flex-direction: column;
    align-items: center;
}
header{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 65vh;
    width: auto;
    border-radius: 10px;
}
.zoom{
    height: 5vh;
}
.yt{
    background-color: white;
    height: 5vh;
}
div{
    display: flex;
    gap: 10px;
    align-items: center;
    margin-left: 5vw;
}
a{
    color: black;
}
p, h4{
    font-size: 1.2rem;
}
h3{
    font-size: 1.4rem;
}
.inv{
    font-size: 1.5rem;
}